*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgba(21, 71, 180, 0.95);
    
}

.titolo{
    text-align : center;
    font-size : 80px;
    color:white;
}
p{
    margin:0;
    padding:0;
}
.mio-container{
    margin:auto;
    width:80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.bg-azzurro{
    background-color: rgb(0, 170, 255);
}

.square{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:700;
    font-size:25px;
    width:100px;
    height:100px;
    margin:10px;
}
